
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    @Html.ActionLink("Cadastro Imóvel", "NovoImovel", "Imovel")
<br/>

    @Html.ActionLink("Cadastro Locatário", "NovoLocatario", "Locatario")

<br/>

    @Html.ActionLink("Cadastro Locador", "NovoLocador", "Locador")



