
@{
    ViewBag.Title = "Index";
}

<h2>Novo contrato</h2>

    @Html.ActionLink("Incluir novo contrato", "NovoContrato", "Contrato")
@*<br/>

        @Html.ActionLink("Cadastro Locatário", "NovoLocatario", "Locatario")

    <br/>

        @Html.ActionLink("Cadastro Locador", "NovoLocador", "Locador")*@



